$black: #1A1A1B;
$white: #fff;
$black-blue: #333F44;
$quarter-opacity-black-blue: #333f4466;
$quarter-opacity-white: #fff3;
$quarter-opacity-light-blue: #94f3e45c;

$medium-green: #37AA9C;
$light-blue: #94F3E4;
$light-gray: #E3E3E3;
$warm-red: #E34D43;

